@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MStart Hiring Task</p>

    <p>Admin testing Email:deltan1ms@live.com Password:password</p>
    <p>User  testing Email:deltan2ms@live.com Password:password</p>
</div>
